.reserveContainer {
  height: 100%;
  justify-content: center;
  color: #fff;
  align-items: center;
  padding: 3rem;
  gap: 2rem;
}

.reserveFormHeader {
  gap: 1rem;
}

.reserveFormHeader h2 {
  width: max-content;
  text-align: center;
  align-self: center;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  border-bottom: 1px solid #fff;
}

.reserveFormHeader p {
  text-align: center;
  line-height: 1.2rem;
  font-size: 0.8rem;
}

.reserveForm {
  width: 100%;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.reserveForm label {
  display: none;
}

.reserveInputContainer {
  display: flex;
  padding: 1rem;
  border: 1px solid #fff;
  background-color: #7d9c0b;
  border-radius: 50px;
  height: 3rem;
  align-items: center;
}

.reserveInput {
  width: max-content;
  color: #fff;
  background-color: #7d9c0b;
  border: none;
}

.reserveInput,
.submitReserve {
  font-size: 0.8rem;
}

.reserveInput:focus {
  outline: none;
}

.submitReserve {
  padding: 1rem;
  color: #7d9c0b;
  border: 1px solid #7d9c0b;
  background-color: #fff;
  border-radius: 3rem;
  cursor: pointer;
}
